/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   max-width: 1920px;
   min-width: 440px;
}

.ytv {
   display: flex;
   flex-direction: column;
   gap: 1em;
   justify-content: space-between;
}
.ytv__bottom {
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
}
.ytv__left {
    display: flex;
    align-items: center;
    gap: 2em;
}
.ytv__right {
   display: flex;
   align-items: center;
   gap: 1em;
   flex-grow: 1;
   justify-content: flex-end;
}
.profile {
    display: flex;
    gap: 1em;
    align-items: center;
}
.profile__text {
   flex-direction: row;
   flex-wrap: wrap;
}
.icon {
   display: flex;
   flex-direction: row;
}
.btn--flex {
   display: flex;
   flex-direction: row;
}